@use 'sizing' as *;

footer {
    .inner-container {
        display: flex;
        flex-wrap: wrap;
        gap: $baseline;
        justify-content: space-between;
    }
    
    border-top: 1px solid #dedede;
    
    .col {
        flex: 1;
    }

    .col:last-of-type,
    .col:first-of-type{
        flex: 1 1 100%;
    }

    input {
        line-height: 2.5rem;
        padding-left: 0.75rem;
        width: 100%;
    }
}

@media screen and (min-width: $small) {
    footer {
        .col:last-of-type{
            flex: 1;
        }
    }
}