@use 'sizing' as *;

section {
    margin-bottom: 3.375rem;
}

.popular-posts {
    article {
        border: 1px solid #dedede;
        border-radius: 4px;
        margin-bottom: $baseline;
        div {
            padding: $baseline;
        }
    }
}

@media screen and (min-width: 740px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: start;
        gap: $baseline;
    }

    .recent-posts {
        grid-column: 1 / span 6;
    }

    .popular-posts {
        grid-column: 7 / span 6;
    }
}

@media screen and (min-width: $med) {
    .recent-posts {
        grid-column: 1 / span 8;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $baseline;

        h2,
        article:first-of-type {
            grid-column: 1 / -1;
        }

    }

    .popular-posts {
        grid-column: 9 / span 4;
    }
}

// @media screen and (min-width: $lrg) {
//     .popular-posts {
//         article {
//             display: flex;
//             gap: 1rem;
//         }
//         article img {
//             flex: 1
//         }
//     }
// }